/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media (max-width: 950px) {
  /*footer */
  .footer-container {
    height: 316px;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr/ 1fr;
    padding: 56px 80px;
  }
  .logo-nav-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-navigation-container {
    margin-right: 40px;
  }
  .footer-nav-a {
    margin-right: unset;
    margin-left: 42px;
  }
  .mail-container,
  .social-links-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .social-links-container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  /* more news section */
  .more-news-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .world-news-background {
    -ms-grid-rows: 400px 400px;
    -ms-grid-columns: 1fr;
        grid-template: 400px 400px / 1fr;
  }
  .more-news-txt-container,
  .banner-box {
    max-width: 100%;
    width: 100%;
    height: unset;
    padding: 80px;
  }
  .world-news-child-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-info {
    max-width: 100%;
    width: 100%;
    padding: unset;
    margin: unset;
  }
  .more-news-txt {
    max-width: 100%;
    width: 100%;
    margin-right: unset;
    margin-top: 80px;
  }
  .more-news-content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .more-news-content:first-child {
    margin-bottom: unset;
    margin-right: 40px;
  }

  /* trending section */
  .trending-content {
    width: 50%;
  }
  .trending-content:last-child {
    display: none;
  }
  .trending-content:nth-child(2) {
    margin-right: unset;
  }

  /* happening now section */
  .happening-content-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 900px 40px 242px;
    -ms-grid-columns: 1fr;
        grid-template: 900px 242px / 1fr;
    grid-gap: 40px;
  }
  .happening-content-column-small {
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  .happening-content-small {
    width: 100%;
  }
  .show-content {
    display: none;
  }

  /* discovery page */
  /* main content */
  .discovery-main {
    margin-bottom: 80px;
  }
  /* world news seqtion */
  .world-news-child-content {
    -ms-grid-rows: 400px 400px;
    -ms-grid-columns: 1fr;
        grid-template: 400px 400px / 1fr;
  }
  /* profile section */
  .profile {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .profile-head {
    max-width: 280px;
    width: 100%;
  }
  /* paragraph text section */
  .par-txt:last-child {
    display: block;
  }
  /* number of pages */
  .num-order-section {
    display: block;
  }
}

@media (max-width: 610px) {
  /* header */
  .menu-container {
    display: block;
  }
  .logo {
    color: #a6adb4;
  }
  .menu-logo {
    color: #fa6980;
  }
  .navigation-container {
    display: none;
  }
  .account-container {
    background-image: url(../images/avatar.png);
  }
  .burger-bar-container {
    display: block;
  }

  /* overlay menu */
  .footer-u-list {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-u-list:first-child {
    margin-right: 18%;
  }
  .footer-nav-a {
    font-size: 11px;
    margin: unset;
  }
  .social-links-container {
    margin-left: 14%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .social-link {
    margin-right: 25px;
  }

  /* footer */
  footer {
    display: none;
  }

  /* home main */
  /* more news section */
  .world-news-background {
    -ms-grid-rows: 450px 560px;
    -ms-grid-columns: 1fr;
        grid-template: 450px 560px / 1fr;
  }
  .banner-box,
  .more-news-txt-container {
    padding: 40px 24px;
  }
  .banner-box:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
  }
  .more-news-content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .more-news-content:first-child {
    margin-right: unset;
    margin-bottom: 40px;
  }

  /* trending section */
  .trending-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trending-content {
    width: 100%;
  }
  .trending-content:first-child {
    margin-right: unset;
    margin-bottom: 40px;
  }

  /* happening now section */
  .happening-content-column-small {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .happening-content {
    padding: 32px 24px;
  }
  .happening-content-small {
    max-width: 100%;
  }
  .happening-content-small:first-child {
    padding-top: 40px;
    border-top: 2px solid #ebeded;
  }
  .show-content {
    display: unset;
  }

  /* discovery page */
  /* header */
  .discovery-pg {
    display: none;
  }
  .arrow-box,
  .header-filter {
    display: block;
  }
  /* main content */
  .discovery-main {
    margin-bottom: 30px;
  }
  /* world news section */
  .filter-container {
    display: none;
  }
  .world-news-section {
    width: 100%;
    margin-top: unset;
    border-bottom: unset;
    padding-bottom: unset;
  }
  .world-news,
  form {
    width: 87%;
  }
  /* profile and paragraph section */
  .paragraph-section,
  .profile-section {
    width: 87%;
  }
  .profile-section {
    padding-top: 40px;
    border-top: 2px solid #ebeded;
  }
  .profile-body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  /* paragraph section */
  .par-img {
    height: 180px;
  }
}