body{
    background-color: #F6F8F9;
}
/* header */
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container{
    max-width: 1440px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.burger-bar-container{
    display: none;
}
.bar-stick{
    display: block;
    width: 16px;
    height: 2px;
    background-color: #343638;
    border-radius: 1px;
}
.short-bar-stick{
    width: 10px; 
    margin: 4px 0;
}
.logo{
    font-family: Helvetica;
    font-size: 13px;
    text-transform: uppercase;
    color: #FA6980;
    font-weight: bold;
}
.nav-account-container{
    display: flex;
    align-items: center;
}
.navigation-container{
    margin-right: 18px;
}
.u-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-a{
    margin-right: 22px;
    font-family: Helvetica;
    font-size: 11px;
    text-transform: uppercase;
    color: #343638;
    filter: opacity(50%);
}
.active{
    filter: opacity(100%);
}
.account-container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../images/account-pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* footer */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6ADB4;
}
.footer-container{
    max-width: 1440px;
    width: 100%;
    height: 200px;
    padding: 56px 138px 0 142px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo-nav-container{
    display: flex;
}
.footer-navigation-container{
    display: flex;
    justify-content: flex-start;
}
.footer-nav-a{
    margin-right: 42px;
    color: #CBD0D3;
    font-size: 13px;
    font-weight: bold;
    font-family: Helvetica;
    line-height: 20px;
    margin-bottom: 8px;
}
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mail-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.mail-box{
    max-width: 260px;
    width: 90%;
    height: 40px;
    position: relative;
}
.email{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 15px 50px 20px 15px;
    background-color: unset;
    color: #FFFF;
    font-family: Helvetica;
}
::placeholder{
    color: rgba(255, 255, 255, 0.1);
}
.email:focus{
    outline: none;
    border-color: #FFFF;
}
.send{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 19px;
    transform: translate(0, -50%);
}
.email-label{
    color: #CBD0D3;
    font-size: 11px;
    font-family: Helvetica;
    line-height: 20px;
    margin-top: 16px;
}
.social-links-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;    
}
.social-links-child-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 160px;
    width: 90%;
    height: 16px;
}

/* home page main content */
/* more news section */
.home-main{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.more-news-section{
    width: 100%;
    background-color: #FFF;
    margin-bottom: 40px;
}
.more-news-container{
    width: 100%;
    display: flex;
}
.banner-box{
    max-width: 840px;
    width: 58%;
    height: 600px;
    background-image: url(../images/main-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-info{
    position: relative;
    max-width: 600px;
    width: 71%;
    padding-right: 40px;
}
.banner-header{
    font-family: Helvetica;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    color: #FFFF;
}
.banner-par{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 26px;
    color: #FFFF;
}
.learn-more-button{
    background-color: #FA6980;
    border: unset;
    border-radius: 6px;
    width: 134px;
    height: 40px;
    font-family: Helvetica;
    font-size: 11px;
    color: #FFFF;
    text-transform: uppercase;
    cursor: pointer;
}
.more-news-txt-container{
    max-width: 600px;
    width: 42%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-news-txt{
    max-width: 380px;
    width: 63%;
    margin-right: 20px;
}
.more-news-header-box{
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid #EBEDED;
    position: relative;
}
.more-news-header{
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #202124;
}
.arrows{
    position: absolute;
    top: 0;
    right: 0;
}
.back-arrow{
    margin-right: 40px;
}
.more-news-content:first-child{
    margin-bottom: 40px;
}
.more-news-cont-header{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FA6980;
    margin-bottom: 20px;
}
.more-news-cont-subheader{
    font-family: Helvetica;
    font-size: 16px;
    color: #202124;
    margin-bottom: 10px;
}
.article-tex{
    font-family: Helvetica;
    font-size: 16px;
    color: #A6ADB4;
    margin-bottom: 10px;
    line-height: 26px;
}
.time-div{
    font-family: Helvetica;
    font-size: 13px;
    color: #A6ADB4;
    display: flex;
    align-items: flex-end;
}
.time-img{
    margin-right: 10px;
}

/* trending section */
.trending-section{
    max-width: 1160px;
    width: 80%;
    margin-bottom: 40px;
}
.trending-container{
    width: 100%;
}
.trending-content-container{
    display: flex;
    justify-content: space-between;
}
.trending-content{
    max-width: 360px;
    width: 30%;
    margin-right: 40px;
}
.trending-content:last-child{
    margin-right: unset;
}
.trending-pic{
    width: 100%;
    height: 180px;
    border-radius: 6px 6px 0 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pic-1{
    background-image: url(../images/trending-1.png);
} 
.pic-2{
    background-image: url(../images/trending-2.png);
}
.pic-3{
    background-image: url(../images/trending-3.png);
}
.trending-info{
    background-color: #ffff;
    padding: 40px;
    border-radius: 0 0 6px 6px;
}

/* heppening now section */
.happening-now-section{
    max-width: 1160px;
    width: 80%;
    margin-bottom: 100px;
}
.happening-content-container{    
    display: grid;
    grid-template: 900px / .66fr 0.34fr;
    grid-gap: 40px;
}
.happening-content-colunm-big{
    display: grid;
    row-gap: 40px;
}
.happening-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    padding: 40px;
}
.happening-content:first-child{
    background-image: url(../images/happening-1.png);
}
.happening-content:last-child{
    background-image: url(../images/happening-2.png);
}
.happening-content-column-small{
    display: grid;
}
.happening-content-small{
    max-width: 360px;
    width: 30%;
    width: 100%; 
}
.happening-pic-1{
    background-image: url(../images/happening-3.png);
}
.happening-pic-2{
    background-image: url(../images/happening-4.png);
}
.happening-pic-3{
    background-image: url(../images/happening-5.png);
}